<header>
  <div class="a">
    <%= link_to "MtG Card Collection App", home_path %>
  </div>
  <div class="b">
    <%= image_tag("http://media.wizards.com/2016/images/daily/MM20161114_Wheel.png", size: "100x100") %>
  </div>
  <div class="c">
    <ul>
      <li><%= link_to "Home", home_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Login", "#" %></li>
    </ul>

  </div>
</header>
