<table class="table card-table">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Card Type</th>
      <th scope="col">Mana cost</th>
      <th scope="col">Power/<br>Toughness</th>
      <th scope="col">Description</th>
      <th scope="col">Number of copies</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @result.each do |result|%>
    <tr>
      <td class="images">
        <% if result["card_faces"].nil? %>
          <%= image_tag("#{result["image_url_small"]}", alt: "mtg card") %>
        <% else %>
        <div class="row">
          <% result["card_faces"].each do |face| %>
          <div class="column">
            <%= image_tag("#{face["image_url_small"]}", alt: "mtg card") %>
          </div>
          <% end %>
        </div>
        <% end %>
      </td>
      <td> <%= result["name"] %> </td>
      <td> <%= result["type_line"] %> </td>
      <td style="min-width: 120px">
          <% result["mana_cost"].split(' ').each do |mana| %>
            <% unless mana == "//" %>
              <% mana.tr!('/ ','') %>
              <img src=<%= "http://gatherer.wizards.com/Handlers/Image.ashx?size=medium&name=#{mana}&type=symbol" %> alt="mana">
            <% end %>
          <% end %>
      </td>
      <td> <%= result["power"].present? ? (result["power"] + " / " + result["toughness"]) : "-/-" %> </td>
      <td> <%= result["oracle_text"] %> </td>
      <td>
        <%= form_for(CollectedCard.find_by(card_id: result.id, user_id: current_user.id)) do |f| %>
          <table width="100%">
            <tr>
              <td width=33%>
                <% if current_user.collected_cards.find_by(card_id: result.id).count == 0 %>
                  <button type="button" name="button" class="btn">-</button>
                <% else %>
                  <%= f.submit("-", class: "btn btn-primary") %>
                <% end %>
              </td>
              <td width=33%>
                <%= current_user.collected_cards.find_by(card_id: result.id).count %>
              </td>
              <td width=33%>
                <%= f.submit("+", class: "btn btn-primary") %>
              </td>
            </tr>
          </table>
        <% end %>
      </td>
      <td>
        <%= form_for(current_user.collected_cards.find_by(card_id: result.id), html: {method: :delete}) do |form| %>
          <%= form.submit("Delete", class: "btn") %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  old_text = document.getElementsByClassName('mana_cost');
  old_text.style.display="none";
  console.log(old_text.innerHTML);
</script>
