<table class="table card-table">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Card Type</th>
      <th scope="col">Mana cost</th>
      <th scope="col">Power/Toghness</th>
      <th scope="col">Description</th>
      <th scope="col">Add to collection</th>
    </tr>
  </thead>
  <tbody>
    <% @result["data"].each do |result|%>
    <tr>
      <td class="images">
        <% if result["card_faces"].nil? %>
          <%= image_tag("#{result["image_uris"]["small"]}", alt: "mtg card") %>
        <% else %>
        <div class="row">
          <% result["card_faces"].each do |face| %>
          <div class="column">
            <%= image_tag("#{face["image_uris"]["small"]}", alt: "mtg card") %>
          </div>
          <% end %>
        </div>
        <% end %>
      </td>
      <td> <%= result["name"] %> </td>
      <td> <%= result["type_line"] %> </td>
      <td> <%= result["mana_cost"] %> </td>
      <td> <%= result["power"].present? ? (result["power"] + " / " + result["toughness"]) : "-/-" %> </td>
      <td> <%= result["oracle_text"] %> </td>
      <td>
        Bedzie jutro
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<script>
function place_mana_images() {
  var content = document.body.textContent || document.body.innerText;
  var hasText = content.indexOf("{R}")!==-1;
  if (hasText) {
      document.getElementById("show").style.display = 'block';
  } else {
      document.getElementById("show").style.display = 'none';
  }
    return true;
}

function place_mana_images();
</script>
