<table class="table card-table">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Card Type</th>
      <th scope="col">Mana cost</th>
      <th scope="col">Power/Toughness</th>
      <th scope="col">Description</th>
      <th scope="col">Add to collection</th>
    </tr>
  </thead>
  <tbody>
    <% @result["data"].each do |result|%>
      <% if result["layout"] == "transform" %>
        <% result["card_faces"].each do |face| %>
        <tr>
          <td class="images">
            <div class="row">
              <div class="column">
                <%= image_tag("#{face["image_uris"]["small"]}", alt: "mtg card") %>
              </div>
            </div>
          </td>
          <td> <%= face["name"] %> </td>
          <td> <%= face["type_line"] %> </td>
          <td style="min-width: 120px">
            <% if face["mana_cost"].present? %>
              <% (save_mana_cost face["mana_cost"]).split(' ').each do |mana| %>
                <% if mana == "//" %>
                  //
                <% else %>
                  <% mana.tr!('/ ','') %>
                  <img src=<%= "http://gatherer.wizards.com/Handlers/Image.ashx?size=medium&name=" + mana + "&type=symbol" %> alt="mana">
                <% end %>
              <% end %>
            <% end %>
          </td>
          <td> <%= face["power"].present? ? (face["power"] + " / " + face["toughness"]) : "-/-" %> </td>
          <td class="mana"> <%= face["oracle_text"] %> </td>
          <% if logged_in? %>
            <td>
              <%= form_for(:cards, url: add_path) do |form| %>
                <%= hidden_field_tag :layout, face["layout"] %>
                <%= hidden_field_tag :name, face["name"] %>
                <%= hidden_field_tag :card_id, result["id"] %>
                <%# <% raise %> %>
                <%= form.label :count %>
                <%= form.text_field :count, class: 'form-control' %>
                <%= form.submit "Add this card to your collection", class: "btn btn-primary btn-wrap" %>
              <% end %>
            </td>
          <% end %>
        </tr>
        <% end %>
      <% else %>
      <tr>
        <td class="images">
          <% if result["layout"] == "transform" %>
          <div class="row">
            <% result["card_faces"].each do |face| %>
            <div class="column">
              <%= image_tag("#{face["image_uris"]["small"]}", alt: "mtg card") %>
            </div>
            <% end %>
          <% else %>
            <%= image_tag("#{result["image_uris"]["small"]}", alt: "mtg card") %>
          </div>
          <% end %>
        </td>
        <td> <%= result["name"] %> </td>
        <td> <%= result["type_line"] %> </td>
        <td style="min-width: 120px">
          <% if result["mana_cost"].present? %>
            <% (save_mana_cost result["mana_cost"]).split(' ').each do |mana| %>
              <% if mana == "//" %>
                //
              <% else %>
                <% mana.tr!('/ ','') %>
                <img src=<%= "http://gatherer.wizards.com/Handlers/Image.ashx?size=medium&name=#{mana}&type=symbol" %> alt="mana">
              <% end %>
            <% end %>
          <% end %>
        </td>
        <td> <%= result["power"].present? ? (result["power"] + " / " + result["toughness"]) : "-/-" %> </td>
        <td class="mana"> <%= result["oracle_text"] %> </td>
        <% if logged_in? %>
          <td>
            <%= form_for(:cards, url: add_path) do |form| %>
              <%= hidden_field_tag :layout, result["layout"] %>
              <%= hidden_field_tag :name, result["name"] %>
              <%= hidden_field_tag :card_id, result["id"] %>
              <%= form.label :count %>
              <%= form.text_field :count, class: 'form-control' %>
              <%= form.submit "Add this card to your collection", class: "btn btn-primary btn-wrap" %>
            <% end %>
          </td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<script>
  "use strict"
  document.addEventListener("DOMContentLoaded", function(e) {
    var manaHTMLCollection = document.getElementsByClassName("mana");
    var length = manaHTMLCollection.length;
    var manaBeginAt, manaEndAt, manaMeltingText, newText, foundMana, foundManaNoBrackets;
    for(var i=0; i<length; i++){
      newText = manaHTMLCollection[i].innerHTML;
      manaMeltingText = newText;
      while((manaBeginAt = manaMeltingText.search(/{([BWUGRCT\d]+\/*)+}/i)) >= 0){
        manaEndAt = manaMeltingText.search(/}/);
        foundMana = manaMeltingText.slice(manaBeginAt,manaEndAt+1);
        foundManaNoBrackets = foundMana.slice(1,-1);
        newText = newText.replace(foundMana,returnManaImgURL(foundManaNoBrackets));
        manaMeltingText = manaMeltingText.slice(manaEndAt+1);
      }
      manaHTMLCollection[i].innerHTML = newText;
    }
  });

  function returnManaImgURL(symbol){
    if(symbol == "T") symbol = "tap";
    return "<img src=\"http://gatherer.wizards.com/Handlers/Image.ashx?size=medium&amp;name=" + symbol + "&amp;type=symbol\">";
  }

</script>
