<div class="center">
  <% if @result["layout"] != "transform" %>
    <%= image_tag("#{@result["image_uris"]["normal"]}", alt: "mtg card") %>
  <% else %>
    <% @result["card_faces"].each do |face| %>
      <%= image_tag("#{face["image_uris"]["normal"]}", alt: "mtg card") %>
    <% end %>
  <% end %>
  <%= form_for(:cards, url: add_path) do |form| %>
    <%= hidden_field_tag :layout, @result["layout"] %>
    <%= hidden_field_tag :name, @result["name"] %>
    <%= form.label :count %>
    <%= form.text_field :count, class: 'form-control' %>
    <%= form.submit "Add this card to your collection", class: "btn btn-primary btn-wrap" %>
  <% end %>
</div>
