<h1>Search engine</h1>

<div class="row">
  <%= form_for(:cards, url: search_url) do |form| %>
    <%= form.text_field :card_name, class: 'form-control' %>

    <h2>Options and filters:</h2>

    <!-- Colors -->
    <div class="row center">
      <div class="col-md-6">
        <div class="row center">
          <h3>Colors</h3>
            <ul class="colors center">
              <% @colors.each do |color| %>
                <li> <%= form.check_box "color[#{color}]", class: 'form-check-input'%> <%= image_tag(@colors_images[color]) %> </li>
              <% end %>
            </ul>
        </div>
      </div>
      <!-- Converted mana cost -->
      <div class="row center">
        <h3>Converted mana cost</h3>
        <ul class="colors center">
          <% (0..9).each do |num| %>
          <li> <%= form.check_box "cmc[#{num}]".to_s, class: 'form-check-input'%> <%= "#{num}" %> </li>
          <% end %>
          <li> <%= form.check_box "cmc[10+]", class: 'form-check-input'%> 10+ </li>
        </ul>
      </div>
    </div>

    <!-- Card type -->
    <div class="row center">
      <h3>Card type</h3>
      <ul class="colors center">
        <% @types.each do |type| %>
        <li> <%= form.check_box "card_type[#{type}]", class: 'form-check-input'%> <%= type.capitalize %> </li>
        <% end %>
      </ul>
    </div>

    <!-- Power -->
    <div class="row center">
      <div class="col-md-6">
        <div class="row center">
          <h3>Power</h3>
          <ul class="colors center">
            <% (0..9).each do |num| %>
            <li> <%= form.check_box "power[#{num}]", class: 'form-check-input'%> <%= "#{num}" %> </li>
            <% end %>
            <li> <%= form.check_box "power[10+]", class: 'form-check-input'%> 10+ </li>
          </ul>
        </div>
      </div>
      <!-- Toughness -->
      <div class="col-md-6">
        <div class="row center">
          <h3>Toughness</h3>
          <ul class="colors center">
            <% (0..9).each do |num| %>
            <li> <%= form.check_box "toughness[#{num}]".to_s, class: 'form-check-input'%> <%= "#{num}" %> </li>
            <% end %>
            <li> <%= form.check_box "toughness[10+]", class: 'form-check-input'%> 10+ </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Additional options -->
    <div class="row center">
      <h3>Additional options</h3>
      <ul>
        <%= form.check_box "match_colors_roughly", class: 'form-check-input'%>
        Match colors roughly (look for cards having at least one of the given)
      </ul>
      <ul>
        <%= form.check_box "match_name_exactly", class: 'form-check-input'%>
        Match name exactly (search for a card with this exact name)
      </ul>
    </div>

    <%= form.submit("Find this cards!", class: "btn btn-primary") %>
    <%= form.submit("Or find me a random card with these parameters!", class: "btn btn-primary") %>
  <% end %>
</div>
