<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>

<h1>Search engine</h1>
  <%= form_for(:cards, url: search_url) do |form| %>
  <div class="col-md-8 col-md-offset-2">
    <div class="col-md-8">
      <%= form.text_field :card_name, class: 'form-control' %>
    </div>
    <div class="col-md-4">
      <%= form.submit("Find this cards!", class: "btn btn-primary") %>
    </div>
  </div>
<div class="row">
    <div class="col-md-8">
      <h3>Filters</h3>
      <!-- Card type -->
      <div class="row">
        <div class="col-md-4 filters">
          <h2>Card type</h2>
          <%= form.select "card_type", @types.collect{|type| type.capitalize}, {}, {class: "selectpicker option", "data-style": "btn-primary", "multiple": "1", include_blank: false} %>
          <h2>Power</h2>
          <%= form.select "power", (('0'..'9').to_a << "10+") , {}, {class: "selectpicker", "data-style": "btn-primary", "multiple": "1"} %>
        </div>
        <div class="col-md-4 filters">
          <h2>Colors</h2>
          <%= form.select "color", @colors.collect{|color| color.capitalize}, {}, {class: "selectpicker", "data-style": "btn-primary", "multiple": "1"} %>
          <h2>Toughness</h2>
          <%# <%= form.select "toughness", (('0'..'9').to_a << "10+") , {}, {class: "selectpicker", "data-style": "btn-primary", "multiple": "1"} %> %>
        </div>
        <div class="col-md-4 filters">
          <h2>Converted mana cost</h2>
            <%= form.select "cmc", (('0'..'9').to_a << "10+") , {}, {class: "selectpicker", "data-style": "btn-primary", "multiple": "1"} %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Additional options</h3>
      <ul>
        <%= form.check_box "match_colors_roughly", class: 'form-check-input'%>
        Match colors roughly (look for cards having at least one of the given)
      </ul>
      <ul>
        <%= form.check_box "match_name_exactly", class: 'form-check-input'%>
        Match name exactly (search for a card with this exact name)
      </ul>
      <div id="button-random-card">
        <%= form.submit("Or find me a random card!", class: "btn btn-primary") %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(".selectpicker").selectpicker({
      "title": "Choose one or many..."
  }).selectpicker("render");
</script>
