<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="https://icon2.kisspng.com/20180616/rbt/kisspng-magic-the-gathering-planeswalker-carnage-tyrant-m-5b24f2f7dcdba8.2314309015291481519046.jpg">
    <title><%= full_title(yield(:title))%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class="container main">
      <% flash.each do |msg_type, msg| %>
      <div class="alert alert-<%= msg_type %>">
          <%= msg %>
      </div>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
